[loggers]
keys=root,rsMap3D

[formatters]
keys=form01

[handlers]
keys=hand01,hand02

[logger_root]
level=DEBUG
handlers=hand01,hand02

[logger_rsMap3D]
level=INFO
handlers=hand01,hand02
qualname=rsMap3D

[handler_hand01]
class=StreamHandler
level=INFO
formatter=form01
args=(sys.stdout,)

[handler_hand02]
class=logging.handlers.RotatingFileHandler
level=DEBUG
formatter=form01
args=('rsMap3D.log','a','maxBytes=6000000','backupCount=5')

[formatter_form01]
format='%(asctime)-15s - %(name)s - %(funcName)s- %(levelname)s - %(message)s'
datefmt=
class=logging.Formatter